@import '../../../shared/colors.scss';


.loginContainer{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);
    background-color: 	#f3f3f3;
    .loginForm{
        box-shadow: 0px 2px 20px 9px #005364;
        border: 2px solid $mid-blue;
        border-radius: 10px;
        form{
            padding: 30px;
            .input-field{
                input{
                    border-bottom-color: $black-color;
                    &:focus{
                        border-bottom-color: $mid-blue;
                        box-shadow: 0 1px 0 0 $mid-blue;
                    }
                    &:focus + label{
                        color: $mid-blue !important;
                    }
                }
                label{
                    color: $black-color;
                }
                .helper-text{
                    color: $error-color;
                }
            }
            .btnContainer{
                text-align: center;
                .btn{
                    border-radius: 8px;
                    width: 20%;
                    box-shadow: 1px 1px 10px 2px #005364;
                    background-color: $mid-blue;
                }
            }
        }
    }
}
.errorLine{
    border-bottom-color: $error-color !important;
}