<div class="loginContainer">
    <div class="loginForm">
        <form class="col s12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="input-field col s12">
                    <input [ngClass]="{'errorLine': loginForm.controls.email.touched && loginForm.controls.email.invalid}" class="form-control" id="email" type="text" formControlName="email">
                    <label for="email">Email</label>
                    <span *ngIf="((loginForm.controls.email.dirty || loginForm.controls.email.touched) && loginForm.controls.email.value === '')" class="helper-text" data-error="wrong" data-success="right">Email is required</span>
                    <span *ngIf="(loginForm.controls.email.value !== '' && loginForm.controls.email.errors)" class="helper-text" data-error="wrong" data-success="right">Enter a valid email</span>
                </div>
                <div class="input-field col s12">
                    <input [ngClass]="{'errorLine': loginForm.controls.password.touched && loginForm.controls.password.invalid}" class="form-control" id="password" type="password" formControlName="password">
                    <label for="password">Password</label>
                    <span *ngIf="((loginForm.controls.password.dirty || loginForm.controls.password.touched) && loginForm.get('password').value === '')" class="helper-text" data-error="wrong" data-success="right">Password is required</span>
                </div>
                <div class="btnContainer input-field col s12">
                    <button [disabled]="!loginForm.valid" class="btn waves-effect waves-light" type="submit" >Log In
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
