<div class="headerContent">
    <div class="titleHeader" [routerLink]="['/home']">DashInfinite</div>
    <div class="authSection">
        <span class="login" [routerLink]="['/login']">LogIn</span>
        <span class="register">Register</span>
    </div>
</div>